.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: $tab-wrap-border-radius;
  width: 99vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  &:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.19);
  }
}

.tab {
  display: none;
  @for $i from 1 through $max-tab-count {
    &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
      opacity: 1;
      transition: 0.5s opacity ease-in, 0.8s transform ease;
      position: relative;
      top: 0;
      z-index: 100;
      transform: translateY(0px);
      text-shadow: 0 0 0;
    }
  }
  &:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }
  &:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:checked + label {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    &:hover {
      box-shadow: 0 -1px 0 #fff inset;
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  + label {
    // box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5) inset;
    border-radius: $tab-wrap-border-radius $tab-wrap-border-radius 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    flex-grow: 3;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    }
  }
  &__label {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    line-height: 1;
    color: #000;
    opacity: 0.75;
  }
  &__content {
    font-family: Jost, sans-serif;
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: $tab-wrap-border-radius;
  }
  &__links-wrapper {
    // outline: 2px solid green;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__links-list {
    // outline: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: calc(100vh - 200px);
    overflow-y: auto;
    margin: 0px;
    padding: 2px;
    line-height: 1.1rem;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ccc; 
      border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #bbb; 
    }
    &--lgrey {
      width: 100%;
      display: inline-block;
      background-color: #000;
    }
    &--dgrey {
      display: inline-block;
      background-color: #dedede;
    }
    &--20 {
      width: calc((100% - 80px) / 5);
    }
    &--30 {
      width: 33%;
    }
    &--50 {
      width: calc((100% - 20px) / 2);
    }
  }
  &__links-item {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    font-size: 1.2em;
    line-height: 1;
  }
}

.link {
  font-family: Oswald, sans-serif;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: $accentColor;
  padding: 0 5px;

  &::before {
  transform: scaleX(0);
  transform-origin: bottom right;
  }
  &:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  }
  &::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;
  transition: transform .3s ease;
  }
}
.desc {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 300;
}